<div class="mx-auto" style="width: 200px;">
<bold> <h1>Home</h1> </bold>
</div>
<div>
<br>
<br>
<br>

<p>
<img src="https://purewows3.imgix.net/images/articles/2020_07/healthy-restaurants-nyc-bareburger.jpg?auto=format,compress&cs=strip" alt="burger with milkshake" width = "615" height= "390"class="rounded-pill">
 &nbsp;  &nbsp;  &nbsp;
The food was amazing ...... - Customer
<br>
<br>
<br>
<br>
</p>


<p>
<img src="https://purewows3.imgix.net/images/articles/2020_12/LittleBeetTable_healthy-restaurants-nyc.jpg?auto=format,compress&cs=strip" alt="Chips chicken and salad" width = "615" height= "390" class="rounded-pill">
 &nbsp;  &nbsp;  &nbsp;
The food was amazing ..... - Customer
<br>
<br>
<br>
<br>
</p>


<p>
<img src="https://purewows3.imgix.net/images/articles/2020_07/healthy-restaurants-nyc-beyond-sushi.jpg?auto=format,compress&cs=strip" alt="Chips chicken and salad" width = "615" height= "390" class="rounded-pill">
 &nbsp;  &nbsp;  &nbsp;
The food was amazing ....... - Customer
<br>
<br>
<br>
<br>
</p>

</div>