 <div class="mx-auto" style="width: 400px;"><h1> New Customer</h1>
</div>
<br>
<br>
<br>
<div class="mx-auto" style="width: 400px;">
<%= render "form", customer: @customer %>
</div>
<br>

<div class="mx-auto" style="width: 400px;">
<div>
  <%= link_to "Back to customers", customers_path %>
</div>
</div>
